/*CSS for Portfolio*/



p, 
.work {font-family: lato;
	font-size: 17px }

	.navbar-myname {color: black;
		font-family: monsterrat;
		text-decoration: none;}

	.navbar-font,
	.myname,
	.mytitle {font-family: monsterrat}

	.myname {margin-bottom: 0}
	.mytitle {margin-bottom: 8px}

	.landing {background-color: rgb(181 177 176);}

	.logo-image {border-radius: 50%;
		}

	.html-bg, 
	.bootstrap-bg,
	.nodejs-bg {background-color: rgb(181 177 176);} }


	.greeting {font-family: monsterrat;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 0px}


	.me-picture {border-radius: 50%}
	
	.profile-picture {width: 100%;
		border-radius: 50%;}



		.aboutme-description {
			width: 100%;
			margin-left: 20px;
			margin-right: 20px;}


		.mywork {display: grid;
					grid-template-columns: 1fr 1fr;
					column-gap: 50px;
					text-align: center;}

		.mywork-titleone,
		.mywork-titletwo {margin-top: 10px;}

	.socmed {list-style-type: none;
		margin-bottom: 6px;
	}

	.thesocmed {margin-bottom: 2px;
		text-decoration: none;
	}

	.socialmedia {
		font-family: lato;
			cursor: pointer;}
	.fb, 
	.ig,
	.linkedin {font-family: lato; 
		text-decoration-style: none}


	.contact-me {margin-bottom: 10px;
		font-family: lato}


	.foot-color {background-color: rgb(49 48 42);
		border-radius: 10px}

	.modal-font {font-family: lato}










